* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Mengisi seluruh body, agar tidak ada jarak/margin di sisi halaman*/
}

.outer-col-1,
.outer-col-2{
    display: flex;
    flex-direction: column ;
}

.inner-row {
    display: flex;
    flex-direction: row;
}

.inner-row header {
    flex:7;
    height: 15vh;
    margin: 15px;
    background:DarkSeaGreen;
}

.inner-row article {
    flex: 6;
    margin: 0 15px 15px 15px;
}

.inner-row aside {
    flex:1;
    margin: 0 0 15px 15px;
    background: yellow;
}
.one {
    height: 45vh;
}

.two {
    height: 35vh;
}

.one article {
    background: DarkOrange;
}

.two article {
    background: Cyan;
}

header,article,aside {
    padding: 1em;
    border: 1px solid black;
}