.container2{
    display: inline-flex;
    margin-top:10px ;
}

.kotak2{
    background-color: yellow;
    width: 240px;
    height: 200px;
    border: 2px solid black;
    margin: 10px 10px;
    margin-right: 30px ;
}

.kotak3{
    background-color: orange;
    width: 1035px;
    height: 200px;
    border: 2px solid black;
    margin: 10px 10px;
}

.container3{
    display: inline-flex;
    margin-top:10px;
}

.kotak4{
    background-color: yellow;
    width: 240px;
    height: 200px;
    border: 2px solid black;
    margin: 10px 10px;
    margin-right: 30px;
}

.kotak5{
    background-color: deepskyblue;
    width: 1035px;
    height: 200px;
    border: 2px solid black;
    margin: 10px 10px;
}

.container5{
    display: inline-flex;
    margin-top:10px ;
}