body{
    background-color: pink;  
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px; 
    font-size: x-large;
    color: aliceblue;
    text-align: center;
    
}

header{
    background-color: #81C6E8; 
    width: 100%;
    height: 55px;
    padding-top: 2%;
}

.container{
    display: flex;
}

aside{
    background-color:#59C1BD ;
    margin-top: 20px;
    width: 40%;
    height: 69vh ;
}

.container2{
    display: flex;
}

article{
    background-color: #E97777;
    margin-top:20px ;
    margin-left: 20px;
    width: 60%;
    height: 69vh ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
img{
    width: 100px;
    height: 80px;
    padding: 10px;
    margin-top:200px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

footer{
    background-color: #81C6E8; 
    width: 100%;
    height: 55px;
    margin-top: 20px;
    padding-top: 2%;
}